<template>
  <div>
    <p v-if="!currentFeed">{{ t("no_headlines_message") }}</p>
    <p v-else-if="currentFeed.attributes.items.length === 0">{{ t("no_headlines_message") }}</p>
    <div v-else>
      <p class="tk-feedname">
        <img
            v-if="currentSettings.showFeedIcon"
            class="tk-feedicon"
            :src="currentFeed.attributes.icon_url"
            alt=""
        />
        {{ currentFeed.attributes.name }}
      </p>
      <table>
        <tr
            class="tk-item"
            v-for="(item, idx) in currentFeed.attributes.items.slice(
            -currentSettings.amount
          )"
            :key="idx"
        >
          <td v-if="currentSettings.showTimestamp" class="tk-meta">
            {{
              new Date(item.published).toLocaleString(language, {
                hour: "2-digit",
                minute: "2-digit"
              })
            }}
          </td>
          <td>{{ item.title }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
module.exports = {
  name: "ticker",
  props: {
    currentSettings: {
      Type: Object,
      required: true,
    },
    currentDimensions: {
      type: Object,
      required: true
    },
    records: {
      type: Array,
      required: false
    },
    language: {
      type: String,
      required: true
    },
    locale: {
      type: String,
      required: true
    },
    backendUrl: {
      type: String,
      required: true
    },
  },
  data: function () {
    return {
      intervalId: undefined,
      feedIndex: 0
    };
  },
  computed: {
    currentFeed: function () {
      return this.records.length > 0 ? this.records[this.feedIndex] : undefined;
    }
  },
  watch: {
    "currentSettings.rotationInterval": function (newVal, _prevVal) {
      this.stopFeedRotation();
      this.startFeedRotation();
    },
    records: function (newVal, oldVal) {
      if (newVal.length !== oldVal.length) {
        this.feedIndex = 0;
      }
      newVal.length <= 1 ? this.stopFeedRotation() : this.startFeedRotation();
    }
  },
  mounted: function () {
    this.startFeedRotation();
  },
  beforeDestroy() {
    this.stopFeedRotation();
  },
  methods: {
    /**
     * Starts the rotation interval.
     */
    startFeedRotation: function () {
      if (this.intervalId !== undefined || this.records.length <= 1) return;

      this.intervalId = window.setInterval(
          this.rotateFeeds,
          (Number.parseInt(this.currentSettings.rotationInterval) || 10) * 1000
      );
    },
    /**
     * Stops the rotation interval.
     */
    stopFeedRotation: function () {
      this.intervalId = window.clearInterval(this.intervalId);
    },
    /**
     * Switch the feedIndex to the next item in the `records` array.
     */
    rotateFeeds: function () {
      if (this.feedIndex + 1 > this.records.length - 1) {
        this.feedIndex = 0;
      } else {
        this.feedIndex++;
      }
    },
  },
  locales: {
    enGb: {
      no_headlines_message: "no current headlines"
    },
    deDe: {
      no_headlines_message: "keine aktuellen Schlagzeilen"
    },
    frFr: {
      no_headlines_message: "aucun titre actuel"
    },
    esEs: {
      no_headlines_message: "no hay titulares actuales"
    },
    plPl: {
      no_headlines_message: "brak aktualnych nagłówków"
    },
    koKr: {
      no_headlines_message: "현재 헤드 라인 없음"
    },
  }
};
</script>
<style>
.tk-item {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.75rem;
  vertical-align: top;
}

.tk-feedname {
  display: flex;
  align-items: center;
}

.tk-feedicon {
  max-height: 1rem;
  margin-right: 1rem;
}

.tk-meta {
  font-style: italic;
  padding-right: 1rem;
}
</style>
