<template>
  <fieldset>
    <TextInputFloatingLabel
        for="tk-amount"
        :text="t('headlines_amount_label')"
    >
      <input
          id="tk-amount"
          name="amount"
          type="number"
          min="1"
          max="10"
          @change="enforceLimit"
          :value="currentSettings.amount"
      />
    </TextInputFloatingLabel>

    <CheckboxBorderedLabel
        for="tk-showTimestamp"
        :text="t('show_publication_time_label')"
    >
      <input
          type="checkbox"
          name="showTimestamp"
          id="tk-showTimestamp"
          :checked="currentSettings.showTimestamp"
      />
    </CheckboxBorderedLabel>
    <CheckboxBorderedLabel for="tk-showFeedIcon" :text="t('show_feed_icon_label')">
      <input
          type="checkbox"
          name="showFeedIcon"
          id="tk-showFeedIcon"
          :checked="currentSettings.showFeedIcon"
      />
    </CheckboxBorderedLabel>
    <RangeInputLabel
        :label="t('rotation_interval_label')"
        name="rotationInterval"
        :min="5"
        :max="60"
        :step="5"
        :value="currentSettings.rotationInterval"
    />
  </fieldset>
</template>

<script>
module.exports = {
  name: "ticker",
  props: {
    currentSettings: {
      type: Object,
      required: true,
    }
  },
  methods: {
    enforceLimit: function (e) {
      e.target.value = Math.min(
          Math.max(1, Number.parseInt(e.target.value)),
          10
      ).toString();
    }
  },
  locales: {
    enGb: {
      headlines_amount_label: "Max headlines per source (min 1, max 10)",
      show_publication_time_label: "Show publication time",
      show_feed_icon_label: "Show feed icon",
      rotation_interval_label: "Rotation interval in seconds",
    },
    deDe: {
      headlines_amount_label: "Maximale Schlagzeilen je Quelle (min. 1, max. 10)",
      show_publication_time_label: "Veröffentlichungszeitpunkt anzeigen",
      show_feed_icon_label: "Feed-Icon anzeigen",
      rotation_interval_label: "Rotationsintervall in Sekunden",
    },
    frFr: {
      headlines_amount_label: "Nombre maximal de titres par source (min. 1, max. 10)",
      show_publication_time_label: "Afficher l'heure de publication",
      show_feed_icon_label: "Afficher l'icône du flux",
      rotation_interval_label: "Intervalle de rotation en secondes",
    },
    esEs: {
      headlines_amount_label: "Máximo de titulares por fuente (mín. 1, máx. 10)",
      show_publication_time_label: "Mostrar tiempo de publicación",
      show_feed_icon_label: "Mostrar icono de alimentación",
      rotation_interval_label: "Intervalo de rotación en segundos",
    },
    plPl: {
      headlines_amount_label: "Maksymalne nagłówki na źródło (min. 1, maks. 10)",
      show_publication_time_label: "Pokaż czas publikacji",
      show_feed_icon_label: "Pokaż ikonę paszy",
      rotation_interval_label: "Interwał obrotowy w sekundach",
    },
    koKr: {
      headlines_amount_label: "소스 당 최대 헤드 라인 (최소 1, 최대 10)",
      show_publication_time_label: "게시 시간 표시",
      show_feed_icon_label: "피드 아이콘 표시",
      rotation_interval_label: "회전 간격 (초)",
    },
  }
};
</script>
